*{
	margin:0;
	padding: 0;
}

body{
	font-family: 'Montserrat', sans-serif;

}

h2{
	font-size: 1.5em;
	font-weight: bold;
}
.menuPortafolio1 , .menuPortafolio2{
	background-color: #f9f7f7;
	
}
.menuPortafolio1{
	display: none;
}

@media screen and (min-width: 570px){
	.menuPortafolio1{
		display:block;
	}
	.menuPortafolio2{
		display:none;
	}
}

.menuPortafolio1 a{
	color:#dd0a35;

} 
.icon-amburguesa{
	padding: 0.5em;
	border-radius: 5px;
	border:2px solid #dd0a35 !important;
}
.menuPortafolio1 img , .menuPortafolio2 img{
	width: 80px;
}
.imgPrincipal{
	position: relative;
	height: 250px;
	background:url(../img/calle.jpg);
}
@media screen and (min-width: 570px){
	.imgPrincipal{
		width: 95%;
		height: 400px;
		background-repeat: no-repeat;
		background-size: cover;
		margin:1em auto;
	}
}

.miPerfil{
	padding: 3em 2em;
	background:url(../img/contemporary_china_2.png);
	color:#191919;
}

.portafolio{
	background-color:#fff00f; 
}
.footerPortafolio{
	background-color: #00f3cd;
}
p{	
	font-size: 1em;
	font-family: 'Dosis', sans-serif;
}

.imgPrincipal__textoEscrito{
	font-weight: bold;
	padding: 4em 0;
}
.menuPortafolio1__logo , .menuPortafolio2__logo{
	width: 80px;
	height: 80px;
	background-color: #050016;
	position: relative;
}
