* { margin:0;
padding: 0; }


/* ---- grid ---- */

.grid {
  background-color: red;
  max-width: 1000px;
  margin:0 auto;
}

/* clearfix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- grid-item ---- */

.grid-item {
  width: 280px;
  height: auto;
  float: left;
  }

.grid-item--width2 { width: 280px; }
.grid-item--width3 { width: 480px; }
.grid-item--width4 { width: 640px; }

.grid-item--height2 { height: auto; }
.grid-item--height3 { height:auto; }
.grid-item--height4 { height:auto; }

.grid-item:hover {
  background: #A2C;
  border-color: white;
  cursor: pointer;
}