* { box-sizing: border-box; }

body { font-family: sans-serif; }

/* ---- grid ---- */

.grid {
  max-width: 1000px;
  margin:0 auto;
  counter-reset: grid-item;
}

/* clearfix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- grid-item ---- */

.grid-item {
  max-width: 410px;
  height: 100%;
  float: left;
  margin:auto;
  padding:10px;
  }
.grid-item--width3 { max-width:410px;}
}
.grid-item--height3 { max-width:100%;}
}
.grid-item:before {
  display: block;
  color: white;
  margin:0.5em;
  padding-top: 0.2em;
  text-align: center;
}

@media screen and (min-width: 570px){
  .grid-item {
  max-width: 280px;
  margin:2px;
  padding:5px;
 
  }
.grid-item--width3 { max-width:280px;}
}
}

