* { margin:0;
padding: 0; }


/* ---- grid ---- */

.grid {
  max-width: 870px;
  margin:0 auto;
}

/* clearfix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- grid-item ---- */

.grid-item {
  max-width: 270px;
  height: auto;
  float: left;
  margin-top:0.5em;
  }

.grid-item--width2 { max-width: 270px; }
.grid-item--width3 { max-width: 480px; }
.grid-item--width4 { max-width: 640px; }

.grid-item--height2 { height: auto; }
.grid-item--height3 { height:auto; }
.grid-item--height4 { height:auto; }

.grid-item:hover {
  background: #ffff;
  border-color: white;
  cursor: pointer;
}

@media screen and (min-width: 570px){
  .grid-item {
  max-width: 260px;

  }
}
